################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Win64/Debug/urlManager.exe
/source/Win64/Debug/frmUrlManager.dcu
/source/Win64/Debug/urlManager.rsm
/source/Win64/Debug
/source/__history
/source/urlManager.identcache
/source/urlManager.stat
/source/Android/Debug/urlManagerMobile/debug/liburlManagerMobile.so
*.so
*.apk
/source/Android/Debug/urlManagerMobile/debug
/source/Android/Debug/urlManagerMobile/library/lib/armeabi-v7a/gdbserver
/source/Android/Debug/urlManagerMobile/classes/classes.dex
*.dcu
*.o
*.exe
