################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Win64/Debug/urlManager.exe
/source/Win64/Debug/frmUrlManager.dcu
/source/Win64/Debug/urlManager.rsm
/source/Win64/Debug
/source/__history
/source/urlManager.identcache
/source/urlManager.stat
